<h1>アカウントの有効化　MedicalLog</h1>

<p>こんにちは <%= @user.name %> さん</p>

<p>
 下記のリンクからアカウントを有効化してください
</p>

<%= link_to "アカウントを有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
