body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

///  ヘッダー  ///
.header {
  background-color: #EEE;
}

//// フッター ////
footer {
  margin-top: auto;
  padding: 1em 0;
  border-top: 1px solid #eaeaea;
}

.iine__button{
  background: linear-gradient(to right, #feb400, #FFE300);
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}

span {
color: red;
}

.user-file {
color: blue;
}

.user {
  text-align: center;
}