body,
#wrapper {
  width: 1170px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 1170px) {
  body,#wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px)  {
  * {
    margin: 0px;
    padding: 0px;
  }

  body,#wrapper {
    width: 100%;
  }

  .header {
    width: 100%;
    height: 100px;
  }

  .dropdown {
    margin-right: 20px;
  }

  .csv-content {
    display: none;
  }
  
  .top_content {
    margin-left: 25px;
  }
  .topic_content {
    width: 90%;
    height: 100px;
  }
  .topic_initial_symptom {
    width: 90%;
  }
}

///  ヘッダー  ///
.header {
  background-color: #EEE;
}

.dropdown {
  margin-left: auto;
}

//// フッター ////
footer {
  margin-top: auto;
  padding: 1em 0;
  border-top: 1px solid #eaeaea;
}

.form-group span {
color: red;
}

// users/_form.html.erb
.form_user {
  background-color: #f6f8fa;
}

// topics/_form.html.erb
.form_topic {
  background-color: #f6f8fa;
}

.topic_content {
  width: 80%;
  height: 250px;
}

.topic_initial_symptom {
  width: 75%;
}

// topics/show.html.erb
.form_show .table {
  width: 100%;
  margin: 0 auto;
}
.from_show th {
  width: 10%;
  text-align: center;
}

.form_show td {
   width: 90%;
}

// topics/index.html.erb

.top_content {
  background-color: blanchedalmond;
  border: solid 2px black;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.top_title h2{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_title_link {
  color: #999999;
}

.top_list_link {
  color: #999999;
}

.top_user_image {
  width: 60%;
  height: 60%;
}

.top_user_default_image {
  width: 40%;
  height: 40%;
  background-color: gainsboro;
}

.top_list p{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white {
  color: white;
}

.black {
  color: black;
}